<div class="mcim-struc-table">
  <div class="mcim-struc-row">
    <div class="mcim-struc-cell">
      <div class="mcim-struc-box-container">
        <div class="mcim-struc-box">
          {{yield}}
        </div>
      </div>
    </div>
  </div>
</div>