.btn {
  @include border-radius($mcim-btn-border-radius);
  padding: 13px 5px;

  &.btn-success {
    background-color: $mcim-green-1;
    border-color: $mcim-green-2;
    color: #fff;
    font-size: 18px;

    &:hover {
      background-color: $mcim-green-3;
    }
  }

  &.btn-info {
    background-color: $mcim-blue-1;
    border-color: $mcim-blue-2;
    color: #fff;
    font-size: 18px;

    &:hover {
      background-color: $mcim-blue-3;
    }
  }
}
