.btn {
  @include border-radius($mcim-btn-border-radius);
  border-width: 0;
  font-size: 14px;
  font-weight: 800;
  padding: 15px 5px;
  text-transform: uppercase;

  &.btn-success,
  &.btn-info {
    @include font-family(3);
    @include font-size(1.5);
    color: #fff;
  }

  &.btn-success {
    background-color: $mcim-green-1;

    &:hover {
      background-color: $mcim-green-3;
    }
  }

  &.btn-info {
    background-color: $mcim-blue-1;

    &:hover {
      background-color: $mcim-blue-3;
    }
  }
}
