.form-control:focus {
  border-color: #4086CE;
  outline: 0;
  @include box-shadow(none);

  ::-webkit-outer-spin-button,
  ::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

