.spc-bottom-0 { margin-bottom: calculateSpacing(0); }
.spc-bottom-1 { margin-bottom: calculateSpacing(1); }
.spc-bottom-2 { margin-bottom: calculateSpacing(2); }
.spc-bottom-3 { margin-bottom: calculateSpacing(3); }
.spc-bottom-4 { margin-bottom: calculateSpacing(4); }
.spc-bottom-6 { margin-bottom: calculateSpacing(6); }
