$html-font-size: 16px;

$spacing-base: 10px;
$font-size-base: 10px;
$text-indent-base: 10px;

$mcim-box-border-radius: 0;
$mcim-btn-border-radius: 26px;
$mcim-input-border-radius: 2px;

$image-path: '../img' !default;
$fallback-extension: 'png' !default;
$retina-suffix: '@2x';

$font-family-1: 'Fredoka One', cursive;
$font-family-2: 'Rubik', sans-serif;
$font-family-3: 'Comfortaa', cursive;
