.mcim-struc-table {
  display: table;
  height: 100%;
  width: 100%;
  position: absolute;
  transition: all 0.2s;
  background-color: $mcim-blue-1;

  &.mcim-struc-table-success {
    background-color: $mcim-green-1;
  }

  &.mcim-struc-table-danger {
    background-color: $mcim-red-1;
  }


  .mcim-struc-row {
    display: table-row;

    .mcim-struc-cell {
      display: table-cell;
      vertical-align: middle;

      .mcim-struc-box-container {
        padding: 20px;
        width: 100%;

        .mcim-struc-box {
          width: 100%;
          max-width: 529px;
          background-color: $mcim-grey-1;
          padding: 65px 77px 58px;
          border: 0;
          @include border-radius($mcim-box-border-radius);
          @include center-block;
        }
      }
    }
  }
}
