{{#mcim-struc}}
  <div class="spc-bottom-2">
    <h1 class="text-center">8 + 12 =</h1>
  </div>
  <div class="spc-bottom-2 text-indent-3">
    <input type="text" name="game-answer" class="form-control input-lg" autofocus>
  </div>
  <div class="text-center">
    {{#link-to 'index' classNames="btn btn-success btn-block"}}
      Submit
    {{/link-to}}
  </div>
{{/mcim-struc}}
