{{#mcim-struc}}
  <div class="spc-bottom-3">
    <h1 class="text-center">MCIM</h1>
  </div>

  <div class="spc-bottom-10">
    {{#link-to 'game' 1 classNames="btn btn-success btn-block"}}
      Start
    {{/link-to}}

    {{#link-to 'tldr' classNames="btn btn-info btn-block"}}
      Ranking
    {{/link-to}}

    {{#link-to 'tldr' classNames="btn btn-info btn-block"}}
      Instructions
    {{/link-to}}
  </div>
{{/mcim-struc}}
