{{#mcim-struc}}
  <div class="spc-bottom-6">
    <h1 class="text-center">Welcome to MyCalcIsMe!</h1>
  </div>

  <div class="row">
    <div class="col-sm-6">
      {{#link-to 'game' 1 classNames="btn btn-success btn-block"}}
        Start
      {{/link-to}}
    </div>

    <div class="col-sm-6">
      {{#link-to 'tldr' classNames="btn btn-info btn-block"}}
        TLDR;
      {{/link-to}}
    </div>
  </div>
{{/mcim-struc}}