{{#mcim-struc}}
  <div class="spc-bottom-2">
    <h1 class="text-center">Too long, didn't read</h1>
  </div>

  <div class="spc-bottom-2">
    <p class="font-size-1-6">
     MyCalcIsMe (MCIM) is a gaming platform that stimulates the usage of logical thinking by purposing mathemathic problems.
    </p>
  </div>

  <div class="spc-bottom-2">
    <p class="font-size-1-6">
     The faster you answer, more points you get.
    </p>
  </div>

  <div class="spc-bottom-4">
    <p class="font-size-1-6">
     The faster you go, the further you get.
    </p>
  </div>

  <div class="text-center">
    {{#link-to 'index' classNames="btn btn-success btn-block"}}
      Gotcha
    {{/link-to}}
  </div>
{{/mcim-struc}}
