{{#mcim-struc}}
  <div class="spc-bottom-2">
    <h1 class="text-center">Too long, didn't read</h1>
  </div>

  <div class="spc-bottom-2">
    <p class="font-size-2 text-indent-3">
     MyCalcIsMe is a game that stimulates the usage of logical thinking in order to solve mathemathic problems in the smallest interval of time as possible.
    </p>
  </div>

  <div class="spc-bottom-2 text-indent-3">
    <p class="font-size-2">
     The faster you answer, more points you get; the faster you are, the longer you reach.
    </p>
  </div>

  <div class="text-center">
    {{#link-to 'index' classNames="btn btn-success btn-block"}}
      Ok, got it!
    {{/link-to}}
  </div>
{{/mcim-struc}}
