{{#mcim-struc}}
  <div class="spc-bottom-2">
    <h1 class="text-center">MyCalcIsMe</h1>
  </div>
  <div class="spc-bottom-0">
    <p class="font-size-3 text-center">Take your time (:</p>
  </div>
  <div class="spc-bottom-2">
    <p class="font-size-8 text-center">
      <i class="fa fa-clock-o" aria-hidden="true"></i>
    </p>
  </div>
  <div class="row">
    <div class="col-sm-6">
      {{#link-to 'game' classNames="btn btn-success btn-block"}}
        I'm ready
      {{/link-to}}
    </div>
    <div class="col-sm-6">
      {{#link-to 'tldr' classNames="btn btn-info btn-block"}}
        TLDR;
      {{/link-to}}
    </div>
  </div>
{{/mcim-struc}}